/* Main Navigation */
html {
    scroll-behavior: smooth
}
/* End Main Nav */

/* Main styling */
.bold{
  font-weight: bold;
}

.medium{
  font-size:20px;
}
/* End styling */

/* About Section */
.about-pic{
	min-width: 400px;
	width: 100%;
}
/* End About Section */

/* Experience Section */

/* End Experience Section */

/* Projects Section */
/* End Projects Section */

/* Contact Section */
/* End Contact Section */



