/* Main styling */
.bold{
  font-weight: bold;
}

.medium{
  font-size:20px;
}

.flexbox{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.flexbox div{
  width:20%;
  margin: 1% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* End styling */

/* About Section */
.about-pic{
	min-width: 400px;
	width: 100%;
}
/* End About Section */

/* Experience Section */

/* End Experience Section */

/* Projects Section */
/* End Projects Section */

/* Technology Section */
.small{
  height:100px;
  width:90px;
}
/* End Technology Section */


/* Contact Section */
/* End Contact Section */



