/* Main styling */
.bold{
  font-weight: bold;
}

.medium{
  font-size:20px;
}

.left-space{
  margin-left: 15px;
}

.top-space{
  margin-top: 20px;
}

.flexbox{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.flexbox div{
  width:20%;
  margin: 1% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* End main styling */

/* About Section */
.about-pic{
	min-width: 400px;
	width: 100%;
}

.about-social{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* End About Section */

/* Experience Section */
/* End Experience Section */

/* Projects Section */
/* End Projects Section */

/* Technology Section */
.small{
  height:100px;
  width:90px;
}
/* End Technology Section */


/* Contact Section */
/* End Contact Section */

/* footer */
.social-footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
} 

.social-footer div{
  width:10%;
}
/* end footer */




